@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.d-flex {
  display: flex;
}

.align-items-center{
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.dashboard-logo {
  color: white;
  font-size: 24px;
  padding: 20px;
  /* border-bottom: 1px solid #64c7ba; */
  /* margin-bottom: 15px; */
  text-align: left;
}

#sideMenu {
  background: #323584;
  width: 240px;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 200ms;
}
nav span {
  position: relative;
  display: block;
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
  border-left: 5px solid transparent;
  color: #e7eaf4;
}
nav span.active {
  position: relative;
  margin-left: 8px;
  background: #e7eaf4;
  border-radius: 24px 0px 0px 24px;
  color: #323584;
}

nav span.active .fa {
  color: #323584;
  /* margin-left: -14px; */
}

nav span .fa {
  color: white;
  padding-right: 9px;
  width: 30px;
}
.dashboard-header {
  width: 100%;
  box-shadow: 0 0 13px 0 rgb(82 63 105 / 8%);
  background-color: white;
  padding: 10px;
  /* margin-left: 240px; */
}
.dashboard-header .search-area {
  display: inline-block;
}
.dashboard-header .search-area .fa {
  color: #e7eaf4;
}
.dashboard-header .search-area input[type="text"] {
  background: #e7eaf4;
  border-radius: 16px;
  width: 150%;
  border: none;
  color: black;
  padding: 8px 10px;
}
.dashboard-header .search-area input[type="text"]:hover {
  background: #e7eaf4;
}
.dashboard-header .user-area {
  display: inline-block;
  float: right;
  padding: 8px;
}
.dashboard-header .user-area span {
  display: inline-block;
  padding-right: 20px;
  color: #aaa;
}
.dashboard-header .user-area span:hover {
  text-decoration: none;
}
.dashboard-header .user-area span.notification {
  position: relative;
}
.dashboard-header .user-area span.notification .circle {
  background: #64c7ba;
  color: #f2f5fa;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  position: absolute;
  top: -5px;
  left: 5px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.ant-table-cell {
  text-align: center !important;
}

.ant-table-thead th {
  text-align: center;
  font-size: 13px;
}
.boxshadow-default {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 10px 30px 0 rgb(24 28 33 / 5%);
}

.clip-top {
  position: absolute;
  right: 0;
  top: -40px;
  padding: 0;
  height: 40px;
  width: 40px;
  transform: rotate(90deg);
  overflow: hidden;
}

.clip-top::before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 40px -40px 0 0 #e7eaf4;
  border-radius: 50%;
}
.clip-bottom {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  bottom: -40px;
  overflow: hidden;
  padding: 0;
}

.clip-bottom::before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 40px -40px 0 0 #e7eaf4;
  border-radius: 50%;
}
